<!--
{
    "title": "Checkout Header Links",
    "is_active": "1"
}
-->
<ul class="header links">
     <li class="link continue-shopping">
            <a href="/">
                      <i class="fa fa-angle-left"></i>
                      <span class="label">Continue Shopping</span>
            </a>
     </li>
     <li class="link ppm-help">
            <a href="/customer-service">
                      <i class="fa fa-question-circle-o"></i>
                      <span class="label">Help</span>
            </a>
     </li>
</ul>