<!--
{
    "title": "Footer Social Links",
   "is_active": "1"
}
-->
<ul class="social_links">
  <li><a href="https://www.instagram.com/peppermayo/"><i class="fa fa-instagram"></i></a></li>
  <li><a href="https://www.snapchat.com/add/teampeppermayo"><i class="fa fa-snapchat-ghost"></i></a></li>
  <li><a href="https://www.facebook.com/peppermayo"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://www.youtube.com/channel/UC3SiiPePFbH7Mk1WbngHAKg"><i class="fa fa-youtube-play"></i></a></li>
  <li><a href="https://twitter.com/ShopPeppermayo"><i class="fa fa-twitter"></i></a></li>
</ul>