<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="BrownbagPresentationPresentationDataProviderImageFormModifierImageData" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="image_data" xsi:type="array">
                    <item name="class" xsi:type="string">Brownbag\Presentation\Ui\DataProvider\Image\Form\Modifier\ImageData</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Brownbag\Presentation\Model\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">BrownbagPresentationPresentationDataProviderImageFormModifierImageData</argument>
        </arguments>
    </type>
</config>