<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd" >
        <event name="controller_action_postdispatch_newsletter_subscriber_new">
        	<observer name="acidgreen_newsletter" instance="Acidgreen\Newsletter\Observer\Subscribe" shared="false" />
        </event>
</config>