<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="acidgreen" translate="label" sortOrder="10">
            <label>acidgreen</label>
        </tab>
        <section id="agtracking" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Tracking</label>
            <tab>acidgreen</tab>
            <resource>Acidgreen_Tracking::acidgreen_tracking</resource>

            <group id="unidays" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Unidays</label>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="debug" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>

                <field id="cust_id_au" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer ID (AU)</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>

                <field id="cust_id_nz" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer ID (NZ)</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>


                <field id="signed_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Signing Key</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>

                <field id="prefix" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Voucher Prefix</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>

        </section>
    </system>
</config>