<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name email and password has been changed" store_name=$store.getFrontendName()}} @-->
<!--@vars {} @-->
{{template config_path="design/email/header_template"}}

<table width="600">
  <tr>
    <td style="padding: 50px 30px; border: 1px solid #eee;">

<p class="greeting" style="font-size: 20px; color: #000; margin: 0 0 15px; text-align:center;">{{trans "Hello,"}}</p>

<p style="font-size: 14px; color: #999; line-height: 1.8; text-align:center;">
    {{trans "We have received a request to change the following information associated with your account at %store_name: email, password." store_name=$store.getFrontendName()}}
    {{trans 'If you have not authorized this action, please contact us immediately at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}
</p>

<p style="font-size: 14px; color: #999; line-height: 1.8; text-align:center;">{{trans "Thanks,<br>%store_name" store_name=$store.getFrontendName() |raw}}</p>

    </td>
  </tr>
</table>

{{template config_path="design/email/footer_template"}}
